{% extends 'base/model.html' %}

{% block content %}
{% for diario in diario %}
<div class="col-md-9" > 
    <div class="card mt-5" >
        <div class="card-header" >
         <a href="{% url 'editar_diario' id=diario.id %}">Editar</a> |||
         <a href="{% url 'excluir' id=diario.id %}">Excluir</a>
        </div>
        <div class="card-body" >
            {{diario.conteudo}}
        </div>
        <div class="card-footer" >
            {{diario.criado}} | {{diario.user}}
        </div>
    </div>
{% endfor %}
    <br>
</div>
{% endblock %}
